{% set has_url = url is not empty ? 'yes' : 'no' %}

{% set tile =
  html_cva(
    base: ['@container relative rounded-lg p-4 transition transition-transform duration-300 hover:-translate-y-1 sm:p-5 lg:p-8'],
    variants: {
      hasUrl: {
        yes: 'group cursor-pointer hover:scale-103',
        no: ''
      },
      backgroundColor: {
        primary: 'bg-primary text-primary-foreground transition duration-300 hover:bg-primary/80',
        white: 'border border-border bg-white text-primary hover:border-drupal-blue hover:bg-background/90 hover:text-foreground/90',
        navy: 'bg-primary text-white transition duration-300 hover:bg-secondary/80',
        noColor: 'border border-border bg-none text-foreground hover:border-drupal-blue'
      },
      tileSize: {
        square: 'aspect-square',
        '4:3': 'aspect-4/3',
        '16:9': 'aspect-16/9',
        noSize: 'aspect-none'
      }
    }
  )
%}

{% set tile_classes =
  tile.apply({
    hasUrl: has_url,
    backgroundColor: background_color|default('noColor'),
    tileSize: tile_size|default('noSize'),
    borderRadius: border_radius|default('noRadius')
  })
%}

{% set icon_container =
  html_cva(
    base: ['flex', 'w-full'],
    variants: {
      iconAlign: {
        left: 'justify-start',
        center: 'justify-center',
        right: 'justify-end'
      }
    }
  )
%}

{% set icon_container_classes =
  icon_container.apply({
    iconAlign: icon_align|default('center')
  })
%}

{% set icon_style_attr =
  html_cva(
    base: [''],
    variants: {
      iconStyle: {
        primary: 'text-primary',
        'drupal-blue': 'text-drupal-blue',
        primary_background: 'mb-2 rounded-md bg-lightest-blue p-2 text-drupal-blue',
        secondary_background: 'mb-2 rounded-md bg-light-gray p-2 text-dark-gray'
      }
    }
  )
%}

{% set icon_style_classes =
  icon_style_attr.apply({
    iconStyle: icon_style
  })
%}

{% set icon_size_map = {
  small: 'small',
  medium: 'medium',
  large: 'large',
  'extra-large': 'extra-large'
} %}

{% set text_container =
  html_cva(
    base: ['w-full'],
    variants: {
      textAlign: {
        left: 'text-start',
        center: 'text-center',
        right: 'text-end'
      }
    }
  )
%}

{% set text_container_classes =
  text_container.apply({
    textAlign: text_align|default('center')
  })
%}

{% set text_classes = ["flex w-full flex-col before:absolute before:inset-0 before:content-['']"] %}
{% set heading_classes = ['text-md font-semibold @xl:text-xl'] %}
{% set description_classes = ['mt-1 font-body text-sm @xl:text-md [&>*:first-child]:mt-0 [&>*:last-child]:mb-0'] %}

<div class="{{ tile_classes }}">
  <div class="flex h-full flex-col justify-center">
    {% if icon %}
      <div class="{{ icon_container_classes }} mb-2">
        <div class="{{ icon_style_classes }}">
          {{
            include(
              '@drupalorg/components/icon/icon.twig',
              {
                icon: icon,
                icon_size: icon_size_map[icon_size]|default('medium')
              },
              with_context: false
            )
          }}
        </div>
      </div>
    {% endif %}
    <div class="{{ text_container_classes }}">
      {% if text is not empty or description is not empty %}
        {% if url is not empty %}
          <a href="{{ url }}" class="{{ text_classes|join(' ') }}">
            {% if text is not empty %}
              <h3 class="{{ heading_classes|join(' ') }}">{{ text }}</h3>
            {% endif %}
            {% if description is not empty %}
              <span class="{{ description_classes|join(' ') }}">{{ description }}</span>
            {% endif %}
          </a>
        {% else %}
          <span class="{{ text_classes|join(' ') }}">
            {% if text is not empty %}
              <h3 class="{{ heading_classes|join(' ') }}">{{ text }}</h3>
            {% endif %}
            {% if description is not empty %}
              <span class="{{ description_classes|join(' ') }}">{{ description }}</span>
            {% endif %}
          </span>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
