{% set card =
  html_cva(
    base: ['flex h-full flex-col rounded-lg p-8 pt-20'],
    variants: {
      align: {
        center: 'items-center gap-6 text-center',
        left: 'items-start gap-4 text-left'
      },
      style: {
        light: 'bg-white shadow-lg',
        dark: 'bg-primary text-white'
      }
    }
  )
%}

{% set svg =
  html_cva(
    base: ['absolute'],
    variants: {
      style: {
        dark: '[filter:brightness(0)_invert(1)]'
      },
      align: {
        center: 'left-1/2',
        left: 'start-6'
      }
    }
  )
%}

{% set footer =
  html_cva(
    base: ['flex flex-row items-center gap-4 text-left text-base font-bold'],
    variants: {
      align: {
        center: 'justify-center',
        left: 'justify-start'
      }
    }
  )
%}

{% set svg_classes =
  svg.apply({
    style: style|default('default')
  })
%}

{% set card_classes =
  card.apply({
    align: align|default('center'),
    style: style|default('default')
  })
%}

{% set footer_classes =
  footer.apply({
    align: align|default('center')
  })
%}

<div class="{{ card_classes }} relative">
  <svg
    class="{{ svg_classes }} top-6 size-10"
    width="35"
    height="44"
    viewBox="0 0 35 44"
    fill="{{ resolved_svg_color }}"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M30.8646 16.2337C30.8401 16.1848 30.8156 16.1603 30.7666 16.1113C28.3671 13.4179 24.9637 9.59822 22.5152 6.88036C21.7561 6.07234 20.997 5.26433 20.287 4.43183C20.1156 4.23594 19.9687 4.04007 19.7973 3.84419C19.6503 3.69727 19.5769 3.59933 19.5769 3.59933H19.6014C18.7689 2.61992 18.1078 1.51809 17.6425 0.342793L17.5201 0.0734557C17.5201 0.0489705 17.4957 0.0489705 17.4712 0.0244852C17.4467 0.0244852 17.3978 0 17.3733 0H17.3488C17.2998 0 17.2753 0.0244852 17.2508 0.0244852C17.2263 0.0489705 17.2263 0.0489705 17.2018 0.0734557L17.0794 0.342793C16.5897 1.51809 15.9286 2.61992 15.1206 3.59933H15.1451C15.1451 3.59933 15.0717 3.69727 14.9247 3.84419C14.7533 4.04007 14.6064 4.23594 14.435 4.43183C13.7005 5.26433 12.9659 6.07234 12.2068 6.88036C9.75831 9.59822 6.3304 13.4179 3.93084 16.1113C3.90635 16.1603 3.88188 16.1848 3.8329 16.2337C-5.22664 28.305 4.61643 38.148 4.61643 38.148H4.59195C7.50569 41.527 11.6437 43.6082 16.0755 43.9265C16.4673 43.9755 16.8835 44 17.3242 44H17.3488C17.765 44 18.1813 43.9755 18.5975 43.9265C23.0538 43.6082 27.1674 41.527 30.0811 38.148H30.0566C30.0811 38.148 39.9241 28.305 30.8646 16.2337ZM9.75831 24.7301L9.53794 25.0729L9.51344 25.0974C7.84848 27.1052 6.86907 29.2598 6.55077 31.3901C6.50179 31.6594 6.25694 31.8308 6.01209 31.7819C5.8407 31.7574 5.71827 31.6349 5.64481 31.488C5.20408 30.4597 4.91025 29.3823 4.76334 28.2805C4.22467 24.3873 5.39996 20.9839 7.89746 18.0701C8.90135 16.9193 9.90525 15.7685 10.9091 14.6177C11.0805 14.4218 11.3744 14.3973 11.5702 14.5687C11.5947 14.5932 11.5947 14.5932 11.6192 14.6177C12.4272 15.5481 13.4801 16.7479 14.6554 18.119C14.8023 18.2905 14.8023 18.5598 14.6554 18.7557C13.0394 20.69 11.3254 22.7468 9.78281 24.7056L9.75831 24.7301ZM23.6904 34.818C22.76 37.2665 20.9236 38.7356 18.3281 39.1519C14.6309 39.715 11.1784 37.1931 10.6154 33.4958C10.6154 33.4469 10.6154 33.4224 10.5908 33.3734C10.297 31.2921 10.9336 29.4558 12.2803 27.8887C13.8473 26.0523 17.2998 21.7918 17.3488 21.7184C17.4222 21.7918 21.095 26.3706 22.4662 27.9867C24.2046 30.0189 24.6209 32.3451 23.6904 34.818ZM29.1506 30.9738C29.1261 31.0473 29.0772 31.1452 29.0527 31.2187C28.9548 31.4635 28.6854 31.5859 28.4405 31.488C28.2937 31.4146 28.1712 31.2921 28.1467 31.1208C27.8039 29.064 26.8246 27.0073 25.233 25.0729L25.2085 25.0484L25.0616 24.828L24.9637 24.7056C23.6904 23.0896 16.957 15.2054 14.0188 11.753C13.8718 11.5815 13.8718 11.3122 14.0188 11.1163C14.9982 10.039 15.9776 8.96163 16.9325 7.85977C17.1039 7.66388 17.3978 7.66388 17.5936 7.83528L17.6181 7.85977C18.0589 8.32495 18.4751 8.79018 18.8913 9.27992C21.5602 12.2671 24.2536 15.2054 26.8491 18.2171C30.13 22.0122 30.8891 26.3706 29.1506 30.9738Z"
      fill="#009CDE"
    />
  </svg>
  <blockquote class="relative z-10 flex grow flex-col gap-4" cite="{{ cite_url }}">
    <p class="grow text-xl text-inherit">
      {{ text }}
    </p>

    <footer class="{{ footer_classes }}">
      <div class="aspect-square w-[60px] overflow-hidden rounded-full">
        {% block media %}
          {% include 'canvas:image' ignore missing with {
            src: media.src,
            alt: media.alt,
            class: 'object-cover w-full h-full',
            width: media.width,
            height: media.height,
            sizes: '60px'
          } only %}
        {% endblock %}
      </div>
      <div>
        {% set citation = cite_name %}
        {{ citation }}
        <cite class="font-normal not-italic">
          <br />
          {% if cite_position %}
            <span class="text-base">{{ cite_position }}</span>
            <br />
          {% endif %}
          {% if cite_url %}
            <a href="{{ cite_url }}" target="_blank" class="underline underline-offset-2 hover:opacity-80">{{ cite_text }}</a>
          {% else %}
            <span class="text-base">{{ cite_text }}</span>
          {% endif %}
        </cite>
      </div>
    </footer>
  </blockquote>
</div>
